<h1>Tools</h1>
<% @tools.each do |tool| %>
  <h3><%= tool.name %> - <%= tool.quantity %> <%= link_to "Link to view #{tool.name}", tool_path(tool.id) %></h3>
<% end %>
<%= link_to "Create Tool", new_tool_path %>
